body {
  background-color: beige;
}

#image,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#image {
  margin-right: 30px;
  margin-bottom: 30px;
}

input,
button {
  padding: 5px;
}

input {
  width: 100px;
}